img.align-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  img.align-left {
    float: left;
    margin: 0.4rem 1.8rem 0.4rem 0;
  }
  img.align-right {
    float: right;
    margin: 0.4rem 0 0.4rem 1.8rem;
  }
  figure figcaption {
    margin: 1rem 0.35rem 0.5rem;
    font-size: 0.85rem;
    text-align: center;
  }
  figure.align-center {
    margin: 0 auto 1rem;
  }
  figure.align-center figcaption {
    margin: 1rem auto 0.5rem;
  }
  figure.align-left {
    float: left;
    margin: 0.4rem 1.8rem 0.4rem 0;
  }
  figure.align-right {
    float: right;
    margin: 0.4rem 0 0.4rem 1.8rem;
  }
  